#wizardPNG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

label, input, h1, h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

label {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
}

input {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

h1, h2 {
    text-align: center;
}